<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EL TRIDENTE</title>
    <link rel="stylesheet" href="/estilos/stylemenu.css" />

  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 text-align: center>
            TRIDENTE
            <hr />
            MENU
          </h1>
          <a href="/"><button class="btn">Cerrar Sesión</button></a>
        </div>
        <div class="col">
          <div class="cards">
            <div class="card card-1">
              <div class="card-head">
                <h5>INGRESO</h5>
                <p>PUEDES AGREGAR TODOS TUS VEHICULOS</p>
              </div>
              <div class="card-bottom">
                <a href="/vehiculo" class="btn">VER</a>
              </div>
            </div>
            <div class="card card-2">
              <div class="card-head">
                <h5>COTIZACIÓN</h5>
                <p>REALIZA UNA COTIZACIÓN DE TU SERVICIO</p>
              </div>
              <div class="card-bottom">
                <a href="#" class="btn">VER</a>
              </div>
            </div>
            <div class="card card-3">
              <div class="card-head">
                <h5>HISTORIAL</h5>
                <p>PUEDES VER COMO VA TODO PROCESO DE TU VEHICULO</p>
              </div>
              <div class="card-bottom">
                <a href="#" class="btn">VER</a>
              </div>
            </div>
            <div class="card card-4">
              <div class="card-head">
                <h5>BITÁCORA</h5>
                <p>REVISA TODAS TUS REPARACIONES</p>
              </div>
              <div class="card-bottom">
                <a href="#" class="btn">VER</a>
              </div>
            </div>
            
            
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
