<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EL TRIDENTE</title>
    <link rel="stylesheet" href="/estilos/stylemenuadmin.css" />

  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <a href="/"><button class="btn">Cerrar Sesión</button></a>
          <H2>Bienvenido Jorge</H2>
      </div>
      <div class="row">
        <div class="col">
          <div class="cards">
            <div class="card card-1">
              <div class="card-head">
                <h5>CREAR EMPLEADO</h5>
              </div>
              <div class="card-bottom">
                <a href="/empleado" class="btn">VER</a>
              </div>
            </div>
            <div class="card card-2">
              <div class="card-head">
                <h5>CREAR CLIENTE</h5>
              </div>
              <div class="card-bottom">
                <a href="/cliente" class="btn">VER</a>
              </div>
            </div>
            <div class="card card-3">
              <div class="card-head">
                <h5>CREAR USUARIO EMPLEADO</h5>
              </div>
              <div class="card-bottom">
                <a href="/usuario_empleado" class="btn">VER</a>
              </div>
            </div>
            <div class="card card-4">
              <div class="card-head">
                <h5>CREAR USUARIO CLIENTE</h5>
              </div>
              <div class="card-bottom">
                <a href="/usuario_cliente" class="btn">VER</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="cards">
            <div class="card card-5">
              <div class="card-head">
                <h5>CREAR TIPO VEHICULO</h5>
              </div>
              <div class="card-bottom">
                <a href="/tipoV" class="btn">VER</a>
              </div>
            </div>
            <div class="card card-6">
              <div class="card-head">
                <h5>CREAR SERVICIO</h5>
              </div>
              <div class="card-bottom">
                <a href="/servicio" class="btn">VER</a>
              </div>
            </div>
            <div class="card card-7">
              <div class="card-head">
                <h5>CREAR MARCA</h5>
              </div>
              <div class="card-bottom">
                <a href="/marca" class="btn">VER</a>
              </div>
            </div>
            <div class="card card-8">
              <div class="card-head">
                <h5>VER VEHICULOS</h5>
              </div>
              <div class="card-bottom">
                <a href="/vehiculosadmin" class="btn">VER</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="cards">
            <div class="card card-9">
              <div class="card-head">
                <h5>VER COTIZACIONES</h5>
              </div>
              <div class="card-bottom">
                <a href="#" class="btn">VER</a>
              </div>
            </div>
            <div class="card card-10">
              <div class="card-head">
                <h5>VER ESTADO CITAS</h5>
              </div>
              <div class="card-bottom">
                <a href="#" class="btn">VER</a>
              </div>
            </div>
            <div class="card card-11">
              <div class="card-head">
                <h5>PAGOS</h5>
              </div>
              <div class="card-bottom">
                <a href="#" class="btn">VER</a>
              </div>
            </div>
            <div class="card card-12">
              <div class="card-head">
                <h5>BITACORA</h5>
              </div>
              <div class="card-bottom">
                <a href="#" class="btn">VER</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
